@import '../../styles/_variables.scss';

.nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav ul li a {
  padding: 3px 10px 5px 10px;
  transition: all 0.25s linear;
  border-radius: 5px;

  &:active {
    color: $color2;
    background: $color3;
  }
  
  @media (hover: hover) {
    &:hover {
      color: $color2;
      background: $color3;
    }
  }
}

/* .nav ul li a {} */